* {
    box-sizing: border-box;
}

header {
    background-color: purple;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

.hero {
    /* background-image: url('./images/Hacknet_Red.jpg'); */
    background-image: url('./images/Hero.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 50vh;
    width: 80%;
    width: 99.1vw;
    padding: 12vh 0;
}

.hero-header {
    line-height: 80px;
    letter-spacing: 1px;
    font-size: 4em;
    color: white;
    font-weight: 700;
    text-align: center;
    font-weight: bold;
}

.hero-subtitle {
    line-height: 35px;
    font-size: 2em;
    color: white;
    text-align: center;
}

.content-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.poster-container {
    background-color: rgb(199, 194, 194);
    padding: 2em;
    margin: 0;
    min-height: 80vh;
    width: 80vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.poster-content {
    padding: 2em;
}


img {
    max-width: 100%;
}

@media only screen and (max-width: 1024px) {

    .hero-header {
        font-size: 2em;
    }


    .poster-container {
        width: 100vw;
    }

    .poster-picture {
        padding: 0px;
    }
}

@media only screen and (max-width: 720px) {


    .hero {
        background-image: none;
    }

}